<div class="header">
<div style="background-color: #ffff00; color: #000; text-align: center; padding: 10px; font-weight: bold;">
<p>🚧 This website is under construction — currently released as version: <span style="color: red;">Alpha 0.02v</p></span> 
</div>
<br></br> 
<img src="https://helga047.github.io/ncity/assets/images/Image90.png" alt="Logo" class="pixel-perfect" style="height:50px; width: auto;">
<br></br>
<a href="https://helga047.github.io/ncity/assets/pages/home.html">home</a> &nbsp;
<a href="https://helga047.github.io/ncity/assets/pages/historync.html">history of NC</a> &nbsp;
<a href="https://helga047.github.io/ncity/assets/pages/about.html">about</a>
<a href="https://helga047.github.io/ncity/assets/pages/ncnews.html">nc news</a> &nbsp;
<a href="https://helga047.github.io/ncity/assets/pages/blog.html">blog</a> &nbsp;
<a href="https://helga047.github.io/ncity/assets/pages/utilities.html">utilities</a> &nbsp;
<strong>lang:</strong>
<a href="javascript:void(0);" onclick ="loadTranslations('en')">en</a>
<a href="javascript:void(0);"onclick ="loadTranslations('de')">de</a>
<a href="javascript:void(0);"onclick ="loadTranslations('fr')">fr</a>
</div>
