<div class="header">
<div style="background-color: #ffff00; color: #000; text-align: center; padding: 10px; font-weight: bold;">
<p>🚧 This website is under construction — currently released as version: <span style="color: red;">Alpha 0.01v</p></span> 
</div>
<br></br> 
<img src="https://helga047.github.io/ncity/assets/images/Image90.png" alt="Logo" class="pixel-perfect" style="height:50px; width: auto;">
<br></br>
<a href="https://helga047.github.io/ncity/assets/pages/home.html">home</a> |
<a href="https://helga047.github.io/ncity/assets/pages/historync.html">news NC</a> |
<a href="https://helga047.github.io/ncity/assets/pages/historync.html">history of NC</a> |
<a href="https://helga047.github.io/ncity/assets/pages/about.html">about</a>
<br></br> 
</div>
