*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: blue;
    color: yellow;
    font-family: 'LucasArt SCUMM - Solid', sans-serif;
  }

  @font-face {
    font-family: 'LucasArt SCUMM - Solid';
    src: url('https://helga047.github.io/ncity/assets/fonts/Shaston320.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pixel Font';
    src: url('/assets/fonts/PrintChar21.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  h1 {
    font-family: 'LucasArt SCUMM - Solid';
    letter-spacing: -1px;
  }
  
  p {
    font-family: 'Pixel Font';
    letter-spacing: -1px;
  }
  
  .main-class {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
